/*Version 1.0*/
html, body {
  height: 100%;
}
body {
  padding: 50px 0 0 0;
}

#iRulez_Logo{
	height: 40px;
}
#iRulez_watermark{
	height: 100%;
}
#watermark
{
 position:fixed;
 bottom:5px;
 right:5px;
 opacity:0.2;
 /* z-index:99; */
 height: 40%;
 pointer-events: none;
   cursor: default;
}

.navmenu {
  padding-top: 50px;
}

.navbar {
  display: block;
  text-align: center;
}
.navbar-brand {
  display: inline-block;
  float: none;
}
.navbar-toggle {
  position: absolute;
  float: left;
  margin-left: 15px;
}

.container {
  max-width: 100%;
}

#notConnected{
	color: red;
	border: 5px solid red;
	text-align: center;
}

@media (min-width: 1px) {
  .navbar-toggle {
    display: block !important;
  }
}

@media (min-width: 992px) {
  body {
    padding: 0 0 0 300px;
  }
  .navmenu {
    padding-top: 0;
  }
  .navbar {
    display: none !important; /* IE8 fix */
  }
}


.navbar-brand{
	line-height: 40px;
	height: 60px;
}